#osoblje table{
    position: absolute;
    margin: auto;
    box-sizing: border-box;
    border-collapse: collapse;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#osoblje table,th,td {
    border: 3px solid black;
}
#osoblje th{
    background-color: #E55982;
    height: 13%;
    font-size: 20px;
}
.redniBr{
    background-color: #E55982;
    height: 13%;
    font-size: 20px;
}
#osoblje td{
    font-size: 16px;
}