.sadrzaj{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2%;
    height: auto;
    padding-bottom: 10%;
    position: relative;
}
.galerija{
    padding: 0;
    margin: 0;
}
#slika1, #slika2, #slika3{
    width: 20em;
    height: 15em;
    object-fit: cover;
}
#prethodne, #sljedece{
    background-color: #E881A6;
    color: #9D446E;
    border-radius: 8px;
    border: 3px solid #9D446E;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}
#prethodne{
    grid-column: 1;
    margin-left: 50%;
}
#sljedece{
    grid-column: 3;
    margin-right: 50%;
}
#posjetioci {
    grid-column: 3;
    padding-bottom: 5%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5%;
}
#posjetioci table, td{
    border: none;
    text-align: left;
    width: auto;
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .sadrzaj{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: initial;
        padding-bottom: 30%;
    }
}
@media only screen and (max-width: 599px){
    .sadrzaj{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 1%;
        height: fit-content;
        padding-bottom: 50%;
    }
    .galerija{
        margin: auto;
        align-content: center;
    }
    .slika{
        width: 16em;
        height: 12em;
        margin: 0;
    }
}