.sadrzaj{
    padding-bottom: 7.5%;
}
form{
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #9D446E;
    border-radius:20px ;
    margin: 0;
    height: auto;
    width: 40%;
    top: 7%;
    left: 30%;
    padding-bottom: 2%;
}
#saleSelektor{
    width: 25%;
    margin-top: 2%;
}
#osobeSelektor{
    width: 40%;
}
form label{
    width: 50%;
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #9D446E;
}
form select, input[type=time]{
    width: 40%;
    height: 6%;
    margin-right: 2%;
    margin-top: 5%;
}
#kalendar{
    margin-top: 25%;
    width: 50%;
    font-size: 20px;
    margin-left: 25%;
    padding: 2%;
    box-sizing: border-box;
    border: 2px solid #9D446E;
    border-radius: 20px;
}
#kalendar thead {
    font-weight: bold;
    color: #9D446E;
    font-size: 40px;
}
#kalendar th{
    background-color: #E881A6;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid #FC8F9B;
    color: #9D446E;
    margin-left: 2%;
    margin-bottom: 2%;
}
#kalendar td{
    border: none;
    box-sizing: border-box;
    margin-left: 2%;
    margin-bottom: 2%;
}

#prethodni, #sljedeci{
    background-color: #E881A6;
    color: #9D446E;
    border-radius: 8px;
    border: 3px solid #9D446E;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    text-align: center;
    margin-top: 2%;
}
#prethodni{
    float: left;
    margin-left: 25%;
}
#sljedeci{
    float: right;
    margin-right: 25%;
}
@media only screen and (min-width: 600px) and (max-width: 1024px){
    #kalendar{
        margin-top: 35%;
    }
}
@media only screen and (max-width: 599px){
    .sadrzaj{
        height: initial;
        padding-bottom: 10%;
    }
    form{
        width: 90%;
        height: auto;
        margin: auto;
        left: 5%;
        padding-bottom: 5%;
    }
    label{
        display: block;
        margin-left: 10%;
        width: 100%;
    }
    input{
        width: 80%;
    }
    #kalendar{
        margin-top: 100%;
        font-size: 20px;
        margin-left: 5%;
        width: 90%;
        height: fit-content;
        padding-bottom: 10%;
        display: block;
    }
    #kalendar thead{
        display: none;
    }
    #prethodni{
        margin-top: 5%;
        height: 95%;
        margin-left: 5%;
        font-size: 16px;
        float: left;
    }
    #sljedeci{
        margin-top: 5%;
        height: 95%;
        margin-right: 5%;
        font-size: 16px;
        float: right;
    }
}
