body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    min-width: 300px;
    background-color: #D8B998;
}
.meni{
    background-color: #FC8F9B;
    clear: both;
    margin-top: 5em;
    margin-bottom: 2em;
    height: 8em;
    text-align: center;
    box-sizing: border-box;
}
.meni ul{
    margin-top: 2em;
    padding-bottom: 2em;
}
.meni li{
    display: inline;
    font-size: 20px;
    padding: 0 15px 0 15px;
    color: #9D446E;
}
.meni a{
    color: #9D446E;
}
.logo{
    margin: auto 45% auto 45%;
}
.logo img{
    width: 60%;
    height: 60%;
    margin-top: -30%;
}
.sadrzaj{
    background-color: #FC8F9B;
    text-align: center;
    font-size: 16px;
    height: inherit;
    width: 100%;
    padding-top: 3%;
    position: relative;
}
.tabelaSala{
    position: absolute;
    margin: auto; 
    width: 40em;
    height: 30em;
    box-sizing: border-box;
    border-collapse: collapse;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.tablelaSala,th,td {
    border: 3px solid black;
}
th, td{
    width: 0.6%;
    height: auto;
}
#nevidljivi{
    visibility: hidden;
    border: none;
}
.headerSprat{
    background-color: #E55982;
    height: 13%;
    font-size: 20px;
}
.headerRedni{
    background-color: #E55982;
    font-weight: bold;
    font-size: 20px;
}
.sala{
    background-color: #D8B998;
}
.kancelarija{
    background-color: gray;
}
.slobodnaSala{
    background-color: #009A17;
}
.zauzetaSala{
    background-color: #D50032;
}
@media only screen and (max-width: 599px){
    .meni{
        height: auto;
        text-align: left;
    }
    .meni li{
        display: block;
        font-size: 15px;
    }
    .tabelaSala{
        width: 18em;
    }
    .headerSprat, .headerRedni, tr:nth-child(2){
        display: none;
    }
}