form{
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #9D446E;
    border-radius:20px ;
    margin: 0;
    height: 25em;
    width: 45em;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
label{
    width: 25%;
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: #9D446E;
}
input{
    width: 40%;
    height: 4%;
    margin-right: 2%;
    margin-top: 5%;
}
input[type=submit]{
    background-color: #E55982;
    color: #9D446E;
    border-radius: 8px;
    border: 3px solid #E55982;
    font-weight: bold;
    font-size: 16px;
    width: 15%;
    height: 10%;
    margin-right: -50%;
    text-align: center;
}
@media only screen and (max-width: 599px){
    form{
        width: 18em;
        height: 30em;
    }
    label{
        display: block;
        margin-left: 10%;
        width: auto;
    }
    input{
        width: 80%;
    }
    input[type=submit]{
        margin-right: -25%;
        width: 50%;
    }
}